{% extends 'base.html' %}
{% block body %}

<style type="text/css">
    .button{
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    }

    .button:hover {
    background-color: #3e8e41
    }

    .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
</style>
<input class="button"type="button"value="Manage Order" onclick = "javascript:location.href='{{url_for('manage_order')}}'">
<input class="button"type="button"value="Manage Inventory" onclick = "javascript:location.href='{{url_for('manage_inventory')}}'"><br/>


{%endblock%}
